<div
  class="flex flex-col items-center flex-1 h-full p-4 bg-gray-700 border-r-4 border-gray-600"
>
  <!-- Game Image -->
  <div
    class="flex items-center justify-center w-full text-gray-400 bg-gray-900 border border-gray-500 rounded-lg h-3/4"
  >
    <img
      src="../kingdom.avif"
      alt="Game Image"
      class="object-cover w-full h-full rounded-lg"
    />
  </div>

  <!-- Textbox for Story Updates -->
  <div
    class="w-full p-2 mt-4 overflow-auto text-white bg-gray-800 border border-gray-500 h-1/4"
  >
    <p>Welcome to the adventure... Something is happening...</p>
  </div>
</div>
