/tmp
config.yml
alpha-registry.json
legacy-registry.json
/www/*
!/www/static/js/
!/www/static/style/readme.md
!/www/static/style/input.css
!/www/static/style/tailwind.config.js
!/www/views/
!/www/data/
