{{define "theme-swap"}}

<!-- Wrapper for consistent layout -->
<div class="relative inline-block">
  <!-- Dropdown Toggle Button -->
  <button
    class="rounded-md p-2 w-8 bg-bgSecondary hover:bg-bgTertiary"
    _="on click toggle .hidden on #themeDropdown"
  >
    <img src="/static/img/themes/paint.png" alt="Theme Selector" class="" />
  </button>

  <!-- Dropdown Menu -->
  <div id="themeDropdown" class="hidden">
    <div
      class="flex absolute right-2 mt-8 flex-col gap-2 border-bgInverted border rounded-md bg-bgSecondary p-2"
    >
      <!-- Theme Swatches -->
      <button
        class="swatch w-12 h-12 hover:bg-bgTertiary rounded-md"
        data-theme=""
      >
        <img src="/static/img/themes/dark.png" alt="Dark Theme" class="p-2" />
      </button>
      <button
        class="swatch w-12 h-12 hover:bg-bgTertiary rounded-md"
        data-theme="light"
      >
        <img src="/static/img/themes/light.png" alt="Light Theme" class="p-2" />
      </button>
      <button
        class="swatch w-12 h-12 hover:bg-bgTertiary rounded-md"
        data-theme="lava"
      >
        <img src="/static/img/themes/lava.png" alt="Lava Theme" class="p-2" />
      </button>
      <button
        class="swatch w-12 h-12 hover:bg-bgTertiary rounded-md"
        data-theme="midnight"
      >
        <img
          src="/static/img/themes/midnight.png"
          alt="Midnight Theme"
          class="p-2"
        />
      </button>
      <button
        class="swatch w-12 h-12 hover:bg-bgTertiary rounded-md"
        data-theme="solar"
      >
        <img src="/static/img/themes/solar.png" alt="Solar Theme" class="p-2" />
      </button>
    </div>
  </div>
</div>
{{end}}
