/* Dogica Font Family */
@font-face {
  font-family: 'Dogica';
  src: url('/res/fonts/dogica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Dogica';
  src: url('/res/fonts/dogicabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Dogica Pixel';
  src: url('/res/fonts/dogicapixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Dogica Pixel';
  src: url('/res/fonts/dogicapixelbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
