{{define "footer"}}
<footer class="text-textMuted text-xs mt-4">
  &copy; 2024
  <a
    href="https://github.com/0ceanSlim/goFrame"
    class="text-purple-400 hover:text-purple-600"
    >GoFrame</a
  >, made with 💦 by
  <a
    href="https://njump.me/npub1zmc6qyqdfnllhnzzxr5wpepfpnzcf8q6m3jdveflmgruqvd3qa9sjv7f60"
    class="text-purple-400 hover:text-purple-600"
    >OceanSlim</a
  >
  <div>
    I did this for free. Consider buying me a ☕ <br />
    ⚡OceanSlim@npub.cash<br />
    <a
      href="https://github.com/0ceanSlim/goFrame/issues"
      class="text-red-400 hover:text-red-600"
      >Feedback Encouraged!</a
    >
  </div>
</footer>
{{end}}
